<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.otterairways.otterairways">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity2" />
        <activity android:name=".ReserveSeat" />
        <activity android:name=".ManageSystem" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".alertlogin" />
        <activity android:name=".TravelInfo" />
        <activity android:name=".ViewRes" />
        <activity android:name=".ViewFlights" />
        <activity android:name=".addflight" />
        <activity android:name=".Cancell" />
        <activity android:name=".VerifyAccount" />
        <activity android:name=".VerifyCancellation"></activity>
    </application>

</manifest>